@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --White: hsl(0, 0%, 100%);
}

.navbar {
  font-family: 'Barlow Condensed', sans-serif;
}

.row {
  font-family: 'Barlow', sans-serif;
}

#right-panel {
  background: url('./images/illustration-devices.svg'), linear-gradient(to bottom, var(--Light-Grayish-Blue) 50%, var(--White) 50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-red {
  background: var(--Red);
}

.nav-link:hover {
  border-bottom: 1px solid;
}